<div class="parent-container">
  <div class="child-container">
    <h2><b>CC_Project_Team 3 - Patience Experience Analystics</b>

    </h2><br>
    <div class="form-group">
      <div class="form-group col-lg-6 col-lg-offset-3">
        Username : <input [(ngModel)]="user.email" type="text" class="fadeIn third" placeholder="username">
        <br><br>
        Password : <input [(ngModel)]="user.password" type="text" class="fadeIn third" placeholder="password" type="password">
      </div></div>

      <div class="container homepage">
        <input type="button" class="fadeIn fourth" (click)=login(user) value="                 Login                  "/>
        <input type="button" class="fadeIn fourth" (click)=register(user) value="New User? Register here"/>
    </div>
    </div>
