
  <div class="wrapper fadeInDown">
    <h2><b>CC_Project_Team 3 - Patience Experience Analystics</b></h2>
    <div id="">
      <div class="fadeIn first">
        Username : <input [(ngModel)]="user.email" type="text" class="fadeIn second" placeholder="username"><br>
        Password : <input [(ngModel)]="user.password" type="text" class="fadeIn third" placeholder="password" type="password">

        <input type="button" class="fadeIn fourth" (click)=login(user) value="                 Login                  "/><br>
        <input type="button" class="fadeIn fourth" (click)=register(user) value="New User? Register here"/>
      </div>
    </div></div>
